{% extends "thettapp/masterpage.html" %}

{% block title %}
        <title>Home</title>
{% endblock %}


{% block content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Live Score Card</h1>

          <table>
              <thead>

              <th class="col-md-2">ID</th>
              <th class="col-md-3">Team1</th>
              <th class="col-md-1 text-center"></th>
              <th class="col-md-3">Team2</th>
              <th class="col-md-3">Score</th>

              </thead>
              <tbody>

              <tr>
              <td class="col-md-2">1</td>
              <td class="col-md-3">test</td>
              <td class="col-md-1 text-center">vs</td>
              <td class="col-md-3">test</td>
              <td class="col-md-3">0-0</td>
              </tr>

              </tbody>

          </table>





      </div>

{% endblock %}